*{
   margin: 0;
   padding: 0;
}

header{
   height: 100px;
   background-color:teal;
   color: rebeccapurple;
   text-align: center;
}
header h1{
   color: orange;
   padding-top: 30px;
}
.header_bar{
   height: 80px;
   background-color:gray;
   /*padding-top: 10px;*/
   text-align: center;
}
.header_bar h1{
   color: black;
   padding-top: 20px;
}
.article_wrapper{
   overflow: hidden;
}
.left{
   width: 70%;
   height: 600px;
   background-color:lightblue;
   color: purple;
   text-align: center;
   float: left;
}
.left_top{
   height: 50px;
   background-color:lightblue;
}
.left_top h1{
   padding-top: 10px;
}
.left_middle{
   overflow: hidden;
   height: 100px;
   background-color:lightgoldenrodyellow;
}
.left_middle h1{
   padding-top: 30px;
}
.left_bottom{
   height: 450px;
   background-color:lightcoral;
}
.left_bottom h1{
   padding-top: 200px;
}
.right{
   width: 30%;
   height: 600px;
   background-color:lightgreen;
   color: blue;
   text-align: center;
   float: right;
}
.right h1{
   padding-top: 285px;
}
footer{
   background-color:gray;
   color: rgb(20, 189, 138);
   height: 100px;
   text-align: center;
}
footer h1{
   color: rgb(153, 192, 207);
   padding-top: 35px;
}
